# Regressao_poli_sklearn_res

In [17]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression #observe a bibiloteca sklearn
from sklearn.metrics import mean_squared_error #importando métrica de performance

In [6]:
df=pd.read_csv('c:\\dados\\cars-uci-linked.csv',sep=';')
df=df.dropna()#retiramos os missings
df.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,year,origin,name
0,18.0,8,3070,130.0,3504,120,70,1,chevrolet chevelle malibu
1,15.0,8,3500,165.0,3693,115,70,1,buick skylark 320
2,18.0,8,3180,150.0,3436,110,70,1,plymouth satellite
3,16.0,8,3040,150.0,3433,120,70,1,amc rebel sst
4,17.0,8,3020,140.0,3449,105,70,1,ford torino

Vamos fazer a regressão com as features potência (horsepower), peso(weight) e seus quadrados

Inicialmente, vamos standardizar horsepower e weight

In [7]:
def standard(s):
    med=s.mean()
    std=s.std()
    s=(s-med)/std
    return med,std,s

In [8]:
mh,dh,df['horsepower1']=standard(df['horsepower'])
mw,dw,df['weight1']=standard(df['weight'])

Vamos agora montar a matriz X e o vetor y(target). <b> No sklearn, a montagem da matriz X é dó com as features, não precisamos
da coluna de uns (do bias)</b>

In [11]:
X=np.zeros((len(df),4))
X[:,0]=df['horsepower1']
X[:,1]=df['weight1']
X[:,2]=df['horsepower1']**2
X[:,3]=df['weight1']**2
y=np.array(df['mpg'])

Agora, vamos instanciar a regressão linear

In [13]:
rl=LinearRegression()

E fazer o treinamento...o "fit" entre X e y com base no modelo de regressão linear

In [15]:
rl.fit(X,y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

Vamos obter ye com .predict e calcular o erro médio quadrático

In [18]:
ye=rl.predict(X)
mean_squared_error(ye,y)

15.304932296066903

Vanos fazer a predição do consumo do carro "chevrolet chevelle malibu", o primeiro do Dataset, que tem 120HP de potência e 3504Kg (consumo=18mpg). Temos que standardizar as features...

In [19]:
pot_s=(120-mh)/dh
peso_s=(3504-mw)/dw
pot_sq=pot_s**2
peso_sq=peso_s**2
rl.predict([[pot_s,peso_s,pot_sq,peso_sq]])

array([17.98361735])

Finalmente, vamos mostrar os parâmetros theta0,theta1,theta2,theta3 e theta4 do modelo

In [22]:
rl.intercept_,rl.coef_

(21.694558679184244,
 array([-3.72121804, -4.35032298,  0.84856164,  0.90727723]))