# likelihood p(f1=3|1) com Naive Bayes Gaussiano res

In [1]:
import pandas as pd
import numpy as np
import math

In [2]:
ds=[[1.5,2,1],[3.0,4,1],[8.0,4,1],[12,5,1],[3.2,2,2],[3.2,7,2],[7,4,2],[11,3,2]]
df=pd.DataFrame(ds,columns=['f1','f2','y'])
df

     f1  f2  y
0   1.5   2  1
1   3.0   4  1
2   8.0   4  1
3  12.0   5  1
4   3.2   2  2
5   3.2   7  2
6   7.0   4  2
7  11.0   3  2

In [3]:
df1=df[df['y']==1].copy()
df1

     f1  f2  y
0   1.5   2  1
1   3.0   4  1
2   8.0   4  1
3  12.0   5  1

p(f1=3|classe=1)

In [4]:
m,var=df1['f1'].mean(),df1['f1'].var()
p3dado1=(1/math.sqrt(2*math.pi*var))*math.exp(-(3-m)**2/(2*var))
p3dado1

0.06722141804582657