# Naive Bayes

In [8]:
import pandas as pd
import numpy as np
from sklearn.naive_bayes import BernoulliNB

In [18]:
df=pd.read_csv('c:\\dados\\futebol.txt',names=['imp','per','bar','chu','ir'])

In [10]:
df

   imp  per  bar  chu  ir
0    0    1    1    0   1
1    0    0    0    0   0
2    1    1    0    1   0
3    1    1    0    0   1
4    0    0    1    0   0
5    1    1    1    1   1

Criar X e y

array([[0, 1, 1, 0],
       [0, 0, 0, 0],
       [1, 1, 0, 1]], dtype=int64)

Criar classificador Naive Bayes Bernouilli e treinar o modelo

BernoulliNB(alpha=0.0001, binarize=0.0, class_prior=None, fit_prior=True)

Testar com Importante, barato e n√£o chuva (use predict_proba)

array([[0.07693491, 0.92306509]])